*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}

/* fine generali */
#rosso{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: red;
}
#verde{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: green;
}
#giallo{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: yellow;
}

.bottone{
    display: inline;
    padding: 10px 15px;
    background-color: white;
    border-radius: 50%;
    margin:5px;
    text-decoration-line: none;
    color: black;
}
nav{
    position: fixed;
    right: 0;
    top:15px;
    z-index: 3;
}
.centratore{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    text-align: center;
    color: yellow;
    text-transform: uppercase;
}
.testo-verde{
    color: green;
}
li{
    list-style-type: none;
    display: inline;
}